<template>
  <v-app>
    <v-toolbar
      app
      height="50"
      color="primary"
    >
      <v-btn
        icon
        class="white--text"
        @click="$router.push('/')"
      >
        <v-icon>keyboard_arrow_left</v-icon>
      </v-btn>
      <v-layout
        justify-center
        class="title white--text font-weight-bold"
      >
        <div>알람</div>
      </v-layout>
    </v-toolbar>
    <v-content>
      <v-container class="mb-5 px-0">
        <v-layout
          wrap
          justify-center
          row
        >
          <v-progress-circular
            v-if="progressCircle"
            indeterminate
            color="primary"
          />
          <v-flex
            xs12
            md6
          >
            <v-card>
              <v-list dense>
                <template v-for="(alarmData, index) in alarmDatas">
                  <v-list-tile
                    :key="index"
                    @click="$router.push('/board/' + alarmData.Post.board_id + '/post/' + alarmData.post_id)"
                  >
                    <v-list-tile-content>
                      <v-list-tile-title>
                        {{ '\"' + alarmData.Post.subject + '\"' + ' 글에 댓글이 ' +
                        (alarmData.comments_count - alarmData.comments_check_count) +
                        '개 더 달렸습니다.'
                        }}
                      </v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-list>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'Alarm',
  data: () => ({
    alarmDatas: [],
    TEMPLATE: {
      boardData: {
        name: '',
        id: ''
      }
    },
    progressCircle: true
  }),
  computed: {
    userSrl () {
      return this.$store.getters.getUserSrl
    },
    getUserMod () {
      return this.$store.getters.getMod
    }
  },
  async created () {
    if (this.getUserMod < 3) {
      this.getAlarmData()
    }
  },
  methods: {
    async getAlarmData () {
      const result = await this.$http.get('/api/alarm/')
      const data = result.data.result.rows
      this.setAlarmData(data)
    },
    setAlarmData (datas) {
      this.alarmDatas = datas
      this.progressCircle = false
    }
  }
}
</script>

<style scoped>

</style>
