<template>
  <v-app>
    <v-toolbar
      app
      height="50"
      color="primary"
    >
      <v-btn
        icon
        class="white--text"
        @click="$router.replace('/board/list')"
      >
        <v-icon>keyboard_arrow_left</v-icon>
      </v-btn>
      <v-layout
        justify-center
        class="title white--text font-weight-bold"
      >
        <div v-if="!isSearching">
          {{ boardName }}
        </div>
        <div v-else>
          <v-text-field
            v-model="searchKeyword"
            full-width
            color="white"
            dark
            height="53px"
            class="white--text"
            label="검색어를 입력하세요"
            append-icon="search"
            append-outer-icon="cancel"
            style="height: 53px"
            @click:append="keywordSearch"
            @keypress.enter.prevent="keywordSearch"
            @click:append-outer="cancelSearch"
          />
        </div>
      </v-layout>
      <v-btn
        v-if="!isSearching"
        icon
        class="white--text"
        @click="isSearching = true"
      >
        <v-icon>search</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container pa-0>
        <v-layout
          v-if="postList.length > 0 || noticeList.length > 0"
          wrap
          justify-center
          row
        >
          <v-progress-circular
            v-if="progressCircle"
            indeterminate
            color="primary"
          />
          <v-flex
            xs12
            md8
          >
            <v-card>
              <v-list dense>
                <template v-for="(post, index) in noticeList">
                  <v-list-tile
                    :key="'notice' + index"
                    class="mb-2"
                    @click="$router.push('/board/' + post.board_id + '/post/' + post.id)"
                  >
                    <v-list-tile-content>
                      <v-list-tile-title class="subheading font-weight-medium">
                        <span class="primary--text">[공지]</span>
                        {{ post.subject }}
                        <span class="primary--text">({{ post.comments_count }})</span>
                      </v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
                <template v-for="(post, index) in postList">
                  <v-list-tile
                    :key="index"
                    @click="$router.push('/board/' + post.board_id + '/post/' + post.id)"
                  >
                    <v-list-tile-content>
                      <v-list-tile-title class="subheading">
                        {{ post.subject }}
                        <span class="primary--text">({{ post.comments_count }})</span>
                      </v-list-tile-title>
                      <v-list-tile-sub-title>{{ post.contents }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-list>
            </v-card>
          </v-flex>
          <v-flex
            xs12
            md8
          >
            <div class="text-xs-center pt-2">
              <v-pagination
                v-model="page"
                :length="totalPage"
                :total-visible="7"
              />
            </div>
          </v-flex>
        </v-layout>
      </v-container>
      <MyWriteDialog
        v-if="notMyList && !isReadOnly"
        :board-name="boardName"
        :board-id="$route.params.id"
      />
      <BottomNav bottom-nav="board" />
    </v-content>
  </v-app>
</template>

<script>
import WriteDialog from '@/views/WriteDialog.vue'
import BottomNav from '@/components/BottomNav'
import { EventBus } from '@/utils/EventBus'
export default {
  name: 'Board',
  components: {
    'MyWriteDialog': WriteDialog,
    BottomNav
  },
  data: () => ({
    boardName: '게시판',
    isReadOnly: true,
    TEMPLATE: {
      boardData: {
        name: '',
        id: ''
      }
    },
    progressCircle: true,
    page: 1,
    rowsPerPage: 10, // -1 for All
    totalPage: 0,
    postList: [],
    noticeList: [],
    searchKeyword: '',
    isSearching: false
  }),
  computed: {
    notMyList () {
      return this.$route.name === 'Board'
    },
    isMyPost () {
      return this.$route.name === 'MyPostBoard'
    },
    getMod () {
      return this.$store.getters.getMod
    }
  },
  watch: {
    page (to, from) {
      const query = this.$route.query
      this.$router.push({ path: this.$route.path, query: { page: to, searchKeyword: query.searchKeyword } })
    },
    '$route' (to, from) {
      const toQuery = to.query
      if (toQuery.page !== undefined) {
        this.page = toQuery.page * 1
      }
      if (toQuery.searchKeyword !== undefined) {
        this.searchKeyword = toQuery.searchKeyword
      } else {
        this.searchKeyword = ''
      }
      this.goSearch()
    }
  },
  async created () {
    if (this.$route.query.page !== undefined) {
      const { page } = this.$route.query
      this.page = page * 1
    }
    if (this.$route.query.searchKeyword !== undefined) {
      const { searchKeyword } = this.$route.query
      this.isSearching = true
      this.searchKeyword = searchKeyword
    }
    try {
      if (this.notMyList) {
        this.getNoticeList()
        this.getBoardName()
        this.goSearch()
      } else {
        this.boardName = this.isMyPost ? '내가 쓴 글' : '내가 댓글을 단 글'
        this.getAndSetMyPostList(this.isSearching)
      }
    } catch (e) {
      alert('에러 발생')
    }
    EventBus.$on('get-new-data', async () => {
      try {
        this.getNoticeList()
        this.goSearch()
      } catch (e) {
        console.log(e)
      }
    })
  },
  methods: {
    keywordSearch () {
      this.$router.push({ path: this.$route.path, query: { page: 1, searchKeyword: this.searchKeyword } })
    },
    cancelSearch () {
      this.isSearching = false
      this.$router.push({ path: this.$route.path, query: { page: 1 } })
    },
    async getAndSetMyPostList (isSearching) {
      let searchKey = ''
      if (isSearching) searchKey = '&searchKeyword=' + this.searchKeyword
      let res
      if (this.isMyPost) res = await this.$http.get('/api/board/post/mine/' + this.$route.params.userId + '?page=' + this.page + '&limit=' + this.rowsPerPage + searchKey)
      else res = await this.$http.get('/api/board/post/comments/mine/' + this.$route.params.userId + '?page=' + this.page + '&limit=' + this.rowsPerPage + searchKey)
      this.postList = res.data.result.rows
      const alpha = parseInt(res.data.result.count % this.rowsPerPage) === 0 ? 0 : 1
      this.totalPage = parseInt(res.data.result.count / this.rowsPerPage) + alpha
      this.progressCircle = false
    },
    async getBoardName () {
      const res = await this.$http.get('/api/board/' + this.$route.params.id)
      this.boardName = res.data.result.name
      this.isReadOnly = res.data.result.is_readonly && this.getMod > 1
    },
    async getPostList (isSearching) {
      const boardId = this.$route.params.id
      let searchKey = ''
      if (isSearching) searchKey = '&searchKeyword=' + this.searchKeyword
      const res = await this.$http.get('/api/board/' + boardId + '/post/list' + '?page=' + this.page + '&limit=' + this.rowsPerPage + searchKey)
      return res
    },
    setPostList (res) {
      this.postList = res.data.result.rows
      const alpha = parseInt(res.data.result.count % this.rowsPerPage) === 0 ? 0 : 1
      this.totalPage = parseInt(res.data.result.count / this.rowsPerPage) + alpha
    },
    async getNoticeList () {
      const boardId = this.$route.params.id
      const res = await this.$http.get('/api/board/' + boardId + '/notice/list')
      this.setNoticeList(res)
    },
    setNoticeList (res) {
      this.noticeList = res.data.result.rows
    },
    async goSearch () {
      if (this.notMyList) {
        this.progressCircle = true
        const res = await this.getPostList(this.isSearching)
        this.setPostList(res)
        this.progressCircle = false
      } else {
        this.getAndSetMyPostList(this.isSearching)
      }
    }
  }
}
</script>

<style scoped>

</style>
