<template>
  <v-app>
    <v-content>
      <login />
      <BottomNav bottom-nav="mypage" />
    </v-content>
  </v-app>
</template>

<script>
import Login from '@/components/Login.vue'
import BottomNav from '@/components/BottomNav'
export default {
  name: 'Login',
  components: {
    'login': Login,
    BottomNav
  }
}
</script>

<style scoped>

</style>
