<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-app>
    <v-toolbar
      app
      height="50"
      color="primary"
    >
      <v-layout
        justify-center
        class="title white--text font-weight-bold"
      >
        <div>짚신</div>
      </v-layout>
      <v-btn
        v-if="$store.getters.getMod < 3 && alarmCount"
        icon
        class="white--text"
        @click="$router.push('/alarm')"
      >
        <v-badge color="white" overlap>
          <template v-slot:badge>
            <span class="primary--text">{{ alarmCount }}</span>
          </template>
          <v-icon
            color="white"
          >
            alarm
          </v-icon>
        </v-badge>
      </v-btn>
      <v-btn
        v-if="$store.getters.getMod === 1"
        icon
        class="white--text"
        @click="$router.push('/admin')"
      >
        <v-icon>supervised_user_circle</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <MainInfo />
    </v-content>
    <BottomNav bottom-nav="main" />
  </v-app>
</template>

<script>
import MainInfo from '@/components/MainInfo.vue'
import BottomNav from '@/components/BottomNav.vue'

export default {
  name: 'Main',
  data: () => ({
    alarmCount: 0
  }),
  components: {
    MainInfo,
    BottomNav
  },
  computed: {
    userSrl () {
      return this.$store.getters.getUserSrl
    },
    getUserMod () {
      return this.$store.getters.getMod
    }
  },
  created () {
    if (this.getUserMod < 3) {
      this.getAlarm()
    }
  },
  methods: {
    async getAlarm () {
      const result = await this.$http.get('/api/alarm/')
      this.alarmCount = result.data.result.count
    }
  }
}
</script>

<style scoped>

</style>
