<template>
  <v-app>
    <v-toolbar
      app
      height="40"
      color="primary"
    >
      <v-btn
        icon
        class="white--text"
        @click="$router.push('/')"
      >
        <v-icon>keyboard_arrow_left</v-icon>
      </v-btn>
      <v-layout
        justify-center
        class="title white--text font-weight-bold"
      >
        <div>오픈소스 라이센스</div>
      </v-layout>
    </v-toolbar>
    <v-content>
      <v-container style="height:100%">
        <v-layout
          justify-center
          align-center
          row
          style="height:100%"
        >
          <div style="white-space: pre-line; font-size: 7px">
            {{licenseData}}
          </div>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'OpenSourceLicense',
  data: () => ({
    licenseData: 'vuejs/vuejs.org\n' +
      '\n' +
      'The MIT License (MIT)\n' +
      '\n' +
      'Copyright (c) 2013-present Yuxi Evan You\n' +
      '\n' +
      'Permission is hereby granted, free of charge, to any person obtaining a copy\n' +
      'of this software and associated documentation files (the "Software"), to deal\n' +
      'in the Software without restriction, including without limitation the rights\n' +
      'to use, copy, modify, merge, publish, distribute, sublicense, and/or sell\n' +
      'copies of the Software, and to permit persons to whom the Software is\n' +
      'furnished to do so, subject to the following conditions:\n' +
      '\n' +
      'The above copyright notice and this permission notice shall be included in\n' +
      'all copies or substantial portions of the Software.\n' +
      '\n' +
      'THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\n' +
      'IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\n' +
      'FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\n' +
      'AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\n' +
      'LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\n' +
      'OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN\n' +
      'THE SOFTWARE.\n' +
      '\n' +
      '==========================\n' +
      '\n' +
      'vuejs/vue-router\n' +
      '\n' +
      'MIT License\n' +
      '\n' +
      'Copyright (c) 2013-present Evan You\n' +
      '\n' +
      'Permission is hereby granted, free of charge, to any person obtaining a copy\n' +
      'of this software and associated documentation files (the "Software"), to deal\n' +
      'in the Software without restriction, including without limitation the rights\n' +
      'to use, copy, modify, merge, publish, distribute, sublicense, and/or sell\n' +
      'copies of the Software, and to permit persons to whom the Software is\n' +
      'furnished to do so, subject to the following conditions:\n' +
      '\n' +
      'The above copyright notice and this permission notice shall be included in all\n' +
      'copies or substantial portions of the Software.\n' +
      '\n' +
      'THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\n' +
      'IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\n' +
      'FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\n' +
      'AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\n' +
      'LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\n' +
      'OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE\n' +
      'SOFTWARE.\n' +
      '\n' +
      '==========================\n' +
      '\n' +
      'expressjs/express\n' +
      '\n' +
      '(The MIT License)\n' +
      '\n' +
      'Copyright (c) 2009-2014 TJ Holowaychuk <tj@vision-media.ca>\n' +
      'Copyright (c) 2013-2014 Roman Shtylman <shtylman+expressjs@gmail.com>\n' +
      'Copyright (c) 2014-2015 Douglas Christopher Wilson <doug@somethingdoug.com>\n' +
      '\n' +
      'Permission is hereby granted, free of charge, to any person obtaining\n' +
      'a copy of this software and associated documentation files (the\n' +
      '\'Software\'), to deal in the Software without restriction, including\n' +
      'without limitation the rights to use, copy, modify, merge, publish,\n' +
      'distribute, sublicense, and/or sell copies of the Software, and to\n' +
      'permit persons to whom the Software is furnished to do so, subject to\n' +
      'the following conditions:\n' +
      '\n' +
      'The above copyright notice and this permission notice shall be\n' +
      'included in all copies or substantial portions of the Software.\n' +
      '\n' +
      'THE SOFTWARE IS PROVIDED \'AS IS\', WITHOUT WARRANTY OF ANY KIND,\n' +
      'EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF\n' +
      'MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.\n' +
      'IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY\n' +
      'CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,\n' +
      'TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE\n' +
      'SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.\n' +
      '\n' +
      '\n' +
      '==========================\n' +
      '\n' +
      'vuejs/vuex\n' +
      '\n' +
      'The MIT License (MIT)\n' +
      '\n' +
      '  Copyright (c) 2015-present Evan You\n' +
      '\n' +
      '  Permission is hereby granted, free of charge, to any person obtaining a copy\n' +
      '  of this software and associated documentation files (the "Software"), to deal\n' +
      '  in the Software without restriction, including without limitation the rights\n' +
      '  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell\n' +
      '  copies of the Software, and to permit persons to whom the Software is\n' +
      '  furnished to do so, subject to the following conditions:\n' +
      '\n' +
      'The above copyright notice and this permission notice shall be included in\n' +
      '  all copies or substantial portions of the Software.\n' +
      '\n' +
      '  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\n' +
      '  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\n' +
      '  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\n' +
      '  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\n' +
      '  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\n' +
      '  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN\n' +
      '  THE SOFTWARE.\n' +
      '\n' +
      '==========================\n' +
      '\n' +
      'vuetifyjs/vuetify\n' +
      '\n' +
      'The MIT License (MIT)\n' +
      '\n' +
      'Copyright (c) 2016-2019 John Jeremy Leider\n' +
      '\n' +
      'Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:\n' +
      '\n' +
      'The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.\n' +
      '\n' +
      'THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.\n' +
      '\n' +
      '==========================\n' +
      '\n' +
      'axios/axios\n' +
      '\n' +
      'Copyright (c) 2014-present Matt Zabriskie\n' +
      '\n' +
      '  Permission is hereby granted, free of charge, to any person obtaining a copy\n' +
      '  of this software and associated documentation files (the "Software"), to deal\n' +
      '  in the Software without restriction, including without limitation the rights\n' +
      '  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell\n' +
      '  copies of the Software, and to permit persons to whom the Software is\n' +
      '  furnished to do so, subject to the following conditions:\n' +
      '\n' +
      'The above copyright notice and this permission notice shall be included in\n' +
      '  all copies or substantial portions of the Software.\n' +
      '\n' +
      '  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\n' +
      '  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\n' +
      '  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\n' +
      '  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\n' +
      '  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\n' +
      '  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN\n' +
      '  THE SOFTWARE.\n' +
      '\n' +
      '==========================\n' +
      '\n' +
      'sequelize/sequelize\n' +
      '\n' +
      'MIT License\n' +
      '\n' +
      'Copyright (c) 2014-present Sequelize contributors\n' +
      '\n' +
      'Permission is hereby granted, free of charge, to any person obtaining a copy\n' +
      'of this software and associated documentation files (the "Software"), to deal\n' +
      'in the Software without restriction, including without limitation the rights\n' +
      'to use, copy, modify, merge, publish, distribute, sublicense, and/or sell\n' +
      'copies of the Software, and to permit persons to whom the Software is\n' +
      'furnished to do so, subject to the following conditions:\n' +
      '\n' +
      'The above copyright notice and this permission notice shall be included in all\n' +
      'copies or substantial portions of the Software.\n' +
      '\n' +
      'THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\n' +
      'IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\n' +
      'FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\n' +
      'AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\n' +
      'LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\n' +
      'OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE\n' +
      'SOFTWARE.\n'
  }),
  methods: {
  }
}
</script>

<style scoped>

</style>
