<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-app>
    <v-toolbar
      app
      height="50"
      color="primary"
    >
      <v-btn
        icon
        class="white--text"
        @click="$router.replace('/board/' + $route.params.boardId)"
      >
        <v-icon>keyboard_arrow_left</v-icon>
      </v-btn>
      <div class="white--text font-weight-bold">
        {{ boardName }}
      </div>
      <v-spacer />
      <div
        v-if="postData.user_srl === $store.getters.getUserSrl || $store.getters.getMod === 1"
      >
        <UpdateWriteDialog
          :board-name="boardName"
          :board-id="$route.params.boardId"
          :mod="1"
          :update-form="updateData"
        />
      </div>
      <div
        v-if="postData.user_srl === $store.getters.getUserSrl || $store.getters.getMod === 1"
        class="white--text font-weight-bold cursor-pointer"
        @click="deletePost"
      >
        삭제
      </div>
    </v-toolbar>
    <v-content>
      <v-container>
        <v-layout
          wrap
          justify-center
          row
        >
          <v-progress-circular
            v-if="progressCircle"
            indeterminate
            color="primary"
          />
          <v-flex
            xs12
            md8
            px-2
            my-3
          >
            <span class="subheading font-weight-bold">
              {{ postData.user_nickname }}
            </span>
            <div class="caption grey--text">
              {{ fn_dateTimeToFormatted(postData) }}
            </div>
            <div class="title mt-2 mb-1 font-weight-bold">
              {{ postData.subject }}
            </div>
            <div class="mt-3 px-2">
              <v-img
                v-for="(image,i) in images"
                :key="i"
                :src="image.img_url"
                :lazy-src="image.img_url"
                contain
                @click="newWindow(image.img_url)"
              >
                <template v-slot:placeholder>
                  <v-layout
                    fill-height
                    align-center
                    justify-center
                    ma-0
                  >
                    <v-progress-circular
                      indeterminate
                      color="primary"
                    />
                  </v-layout>
                </template>
              </v-img>
            </div>
            <div style="white-space: pre-line; word-break: break-all">
              {{ postData.contents }}
            </div>
          </v-flex>
          <!--관리자만-->
          <v-flex
            xs12
            md8
            px-2
            my-3
          >
            <v-layout
              v-if="$store.getters.getMod === 1"
              row
              wrap
            >
              <v-flex xs8>
                <v-select
                  v-model="selectedBoardId"
                  :items="boards"
                  label="이동할 게시판"
                  item-text="name"
                  item-value="id"
                />
              </v-flex>
              <v-flex xs4>
                <v-btn
                  color="primary"
                  @click="movePost"
                >
                  로 이동
                </v-btn>
              </v-flex>
            </v-layout>
            <!--관리자영역-->
          </v-flex>
          <v-flex
            xs12
            md8
            px-2
            py-2
          >
            <v-divider />
          </v-flex>
          <v-flex
            xs12
            md8
            px-2
          >
            <v-list
              v-if="comments.data.length > 0"
              dense
            >
              <template v-for="(comment, index) in comments.data">
                <v-divider
                  v-if="index !== 0"
                  :key="`divider-${index}`"
                />
                <v-card
                  :key="'card' + index"
                  elevation="0"
                >
                  <v-card-title class="pt-2 pb-0">
                    <span
                      v-if="comment.User !== null && comment.User.is_admin"
                      class="primary--text mr-2"
                    >
                      [운영자]
                    </span>
                    <span
                      v-if="comment.User !== null && !comment.User.is_admin"
                      class="primary--text mr-2"
                    >
                      {{ comment.User.user_grade + ' 등급' }}
                    </span>
                    {{ comment.user_nickname + '    ' }}
                    <span class="grey--text ml-3">
                      {{ '    ' + fn_dateTimeToFormatted(comment) }}
                    </span>
                  </v-card-title>
                  <v-card-text
                    class="subheading pt-0 pb-1"
                    style="white-space: pre-line;  word-break: break-all;"
                  >
                    {{ comment.contents }}
                  </v-card-text>
                  <v-container
                    v-if="comment.CommentImages.length > 0"
                    grid-list-sm
                    fluid
                  >
                    <v-layout
                      row
                      wrap
                    >
                      <v-flex
                        v-for="(image,i) in comment.CommentImages"
                        :key="i"
                        xs4
                      >
                        <v-card
                          flat
                          tile
                        >
                          <v-img
                            :src="image.img_url"
                            :lazy-src="image.img_url"
                            contain
                            @click="newWindow(image.img_url)"
                          >
                            <template v-slot:placeholder>
                              <v-layout
                                fill-height
                                align-center
                                justify-center
                                ma-0
                              >
                                <v-progress-circular
                                  indeterminate
                                  color="primary"
                                />
                              </v-layout>
                            </template>
                          </v-img>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                  <v-card-actions
                    v-if="comment.user_srl === $store.getters.getUserSrl || $store.getters.getMod === 1"
                    class="pa-0 ma-0"
                  >
                    <v-layout justify-end>
                      <v-btn
                        icon
                        small
                        @click="deleteComment(comment.id)"
                      >
                        <v-icon>delete_outline</v-icon>
                      </v-btn>
                    </v-layout>
                  </v-card-actions>
                </v-card>
              </template>
            </v-list>
          </v-flex>
          <v-flex
            v-if="$store.getters.getIsLogin"
            xs12
            md6
            px-2
            mt-2
          >
            <CommentsDialog
              v-if="boardName !== '삭제된 게시판'"
              :post-id="$route.params.postId"
            />
          </v-flex>
          <v-flex
            v-else
            xs12
            md6
            px-2
            mt-2
          >
            <v-text-field
              full-width
              box
              value="댓글을 달려면 로그인하세요"
              readonly
              append-icon="send"
              @click="$router.push('/login')"
            />
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <div class="text-xs-center">
      <v-dialog
        v-if="imageCarousel.length > 0 "
        v-model="imageCarouselDialog"
      >
        <v-carousel>
          <v-carousel-item
            v-for="(item,i) in imageCarousel"
            :key="i"
            :src="item.img_url"
          />
        </v-carousel>
      </v-dialog>
    </div>
  </v-app>
</template>

<script>
import CommentsDialog from '@/components/WriteCommentsDialog'
import WriteDialog from '@/views/WriteDialog'
import { EventBus } from '@/utils/EventBus'

export default {
  name: 'PostView',
  components: {
    CommentsDialog,
    'UpdateWriteDialog': WriteDialog
  },
  data: () => ({
    boardName: '게시판',
    postData: {
      subject: '',
      contents: ''
    },
    images: [],
    commentList: [],
    progressCircle: true,
    comments: {
      count: 0,
      data: [],
      myText: ''
    },
    boards: [],
    selectedBoardId: -1,
    imageCarouselDialog: false,
    imageCarousel: []
  }),
  computed: {
    updateData () {
      const data = {
        subject: this.postData.subject,
        contents: this.postData.contents,
        images: this.images.map(v => v.img_url),
        postId: this.$route.params.postId,
        boardId: this.$route.params.boardId,
        isNotice: false
      }
      return data
    },
    getUserMod () {
      return this.$store.getters.getMod
    }
  },
  async created () {
    try {
      this.getBoardName()
      const res = await this.getPost()
      this.setPost(res)
      this.progressCircle = false
      const commentRes = await this.getCommentData()
      this.setCommentData(commentRes)
      this.getBoardList()
      if (this.getUserMod < 3) {
        this.$http.get('/api/alarm/check?postId=' + this.$route.params.postId)
      }
    } catch (e) {
      if (e.response.status === 401) this.$router.push('/login?requirePage=true')
      else {
        alert('에러 발생')
        this.$router.push('/')
      }
    }
    EventBus.$on('get-new-comments', async () => {
      try {
        const commentRes = await this.getCommentData()
        this.setCommentData(commentRes)
      } catch (e) {
        console.log(e)
      }
    })
    EventBus.$on('get-update-post', async () => {
      try {
        this.progressCircle = true
        const res = await this.getPost()
        this.setPost(res)
        this.progressCircle = false
      } catch (e) {
        console.log(e)
      }
    })
  },
  methods: {
    newWindow (imgUrl) {
      window.open(imgUrl)
    },
    openImageCarouselDialog (images) {
      this.imageCarousel = images
      this.imageCarouselDialog = true
    },
    async movePost () {
      const moveBoardId = this.selectedBoardId
      if (moveBoardId === -1) {
        alert('게시판을 선택해주세요')
        return
      }
      const selectedBoardName = this.boards.find(v => v.id === moveBoardId).name
      const res = await this.$http.put('/api/board/move', {
        id: this.postData.id,
        boardId: this.selectedBoardId
      })
      if (res.status === 200) alert(`이 게시글은 ${selectedBoardName}으로 이동되었습니다`)
      else alert('오류 발생')
    },
    async getBoardList () {
      const res = await this.$http.get('/api/board/list')
      const data = res.data.result.rows
      this.boards = data
    },
    async getPost () {
      const res = this.$http.get('/api/board/view/' + this.$route.params.postId)
      return res
    },
    setPost (res) {
      this.images = res.data.images
      this.postData = res.data.boardViewData
    },
    async getCommentData () {
      const res = await this.$http.get('/api/board/comments/' + this.$route.params.postId)
      return res
    },
    setCommentData (res) {
      this.comments.count = res.data.result.count
      this.comments.data = res.data.result.rows
    },
    async getBoardName () {
      try {
        const res = await this.$http.get('/api/board/' + this.$route.params.boardId)
        this.boardName = res.data.result.name
      } catch (e) {
        this.boardName = '삭제된 게시판'
      }
    },
    async deletePost () {
      try {
        if (confirm('글을 삭제하시겠습니까?') === true) {
          const res = await this.$http.delete('/api/board/post/' + this.$route.params.postId)
          alert('글이 삭제되었습니다')
          this.$router.go(-1)
        } else {
          return
        }
      } catch (e) {
        alert('글 삭제에 실패했습니다')
      }
    },
    async deleteComment (commentId) {
      try {
        if (confirm('댓글을 삭제하시겠습니까?') === true) {
          const res = await this.$http.delete('/api/board/comment/' + commentId)
          alert('댓글이 삭제되었습니다')
          const commentRes = await this.getCommentData()
          this.setCommentData(commentRes)
        } else {
          return
        }
      } catch (e) {
        alert('댓글 삭제에 실패했습니다')
      }
    },
    fn_dateTimeToFormatted (data) {
      let dt = data.createdAt

      let min = 60 * 1000
      let c = new Date()
      let d = new Date(dt)
      let minsAgo = Math.floor((c - d) / (min))

      let result = {
        'raw': d.getFullYear() + '-' + (d.getMonth() + 1 > 9 ? '' : '0') + (d.getMonth() + 1) + '-' + (d.getDate() > 9 ? '' : '0') + d.getDate() + ' ' + (d.getHours() > 9 ? '' : '0') + d.getHours() + ':' + (d.getMinutes() > 9 ? '' : '0') + d.getMinutes() + ':' + (d.getSeconds() > 9 ? '' : '0') + d.getSeconds(),
        'formatted': ''
      }
      if (minsAgo < 1) {
        result.formatted = '방금'
      } else if (minsAgo < 60) { // 1시간 내
        result.formatted = minsAgo + '분 전'
      } else if (minsAgo < 60 * 24) { // 하루 내
        result.formatted = Math.floor(minsAgo / 60) + '시간 전'
      } else { // 하루 이상
        result.formatted = Math.floor(minsAgo / 60 / 24) + '일 전'
      }

      return result.formatted
    }
  }
}
</script>

<style scoped>

  .many-line{
    word-break: break-all;
    overflow: auto;
    white-space: normal;
  }
</style>
