<template>
  <v-app>
    <v-content>
      <regist />
      <BottomNav bottom-nav="mypage" />
    </v-content>
  </v-app>
</template>

<script>
import Regist from '@/components/Regist.vue'
import BottomNav from '@/components/BottomNav'
export default {
  name: 'Regist',
  components: {
    'regist': Regist,
    BottomNav
  }
}
</script>

<style scoped>

</style>
