<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-container
    grid-list-md
    text-xs-center
  >
    <v-layout
      row
      justify-center
      wrap
    >
      <v-btn
        v-if="mod == 0"
        class="float-plus"
        color="primary"
        fab
        small
        dark
        @click.stop="showWriteDialog"
      >
        <v-icon>create</v-icon>
      </v-btn>
      <v-btn
        v-else
        flat
        dark
        class="white--text font-weight-bold cursor-pointer"
        @click.stop="showWriteDialog"
      >
        수정
      </v-btn>
      <v-dialog
        v-model="writeView"
        fullscreen
        persistent
        transition="dialog-bottom-transition"
      >
        <v-card>
          <v-toolbar
            height="50"
          >
            <v-btn
              icon
              @click="closeWriteDialog"
            >
              <v-icon color="primary">
                close
              </v-icon>
            </v-btn>
            <v-layout
              justify-center
              class="title font-weight-bold"
            >
              <div>{{ mod === 0 ? '글 쓰기' : '수정하기' }}</div>
            </v-layout>
            <v-toolbar-items>
              <v-btn
                round
                flat
                fab
                color="primary"
                small
                class="white--text"
                @click="saveAndCloseDialog"
              >
                저장
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-flex
            xs12
            px-4
            pt-2
          >
            <v-switch
              v-if="$store.getters.getMod === 1"
              v-model="writeForm.isNotice"
              class="ma-2"
              color="primary"
              label="공지사항"
            />
            <div class="primary--text caption">
              {{ boardName }}
            </div>
          </v-flex>
          <v-flex
            xs12
            px-4
            pt-0
          >
            <v-text-field
              v-model="writeForm.subject"
              label="제목"
            />
          </v-flex>
          <v-flex
            xs12
            px-4
          >
            <v-progress-circular
              v-if="isUploadingImages"
              class="position-center"
              indeterminate
              color="primary"
              size="64"
            />
            <v-textarea
              v-model="writeForm.contents"
              name="contents"
              placeholder="내용을 입력하세요"
              rows="12"
              value=""
            />
          </v-flex>
          <v-flex
            xs12
            px-4
          >
            <v-layout
              row
              wrap
            >
              <v-flex xs12>
                <v-card>
                  <v-container
                    grid-list-sm
                    fluid
                    class="pa-0"
                  >
                    <v-layout
                      row
                      wrap
                    >
                      <v-flex
                        v-for="(image,i) in images"
                        :key="i"
                        xs4
                        d-flex
                      >
                        <v-card
                          flat
                          tile
                          class="d-flex"
                        >
                          <v-img
                            :src="image"
                            :lazy-src="image"
                            aspect-ratio="1"
                            class="grey lighten-2"
                          >
                            <template v-slot:placeholder>
                              <v-layout
                                fill-height
                                align-center
                                justify-center
                                ma-0
                              >
                                <v-progress-circular
                                  indeterminate
                                  color="grey lighten-5"
                                />
                              </v-layout>
                            </template>
                          </v-img>
                        </v-card>
                      </v-flex>
                      <v-flex
                        xs4
                        d-flex
                      >
                        <v-card
                          flat
                          tile
                          class="d-flex"
                        >
                          <input
                            v-show="false"
                            :id="'file-input'+ mod"
                            style="width: 5px"
                            type="file"
                            name="img"
                            multiple="multiple"
                            accept="image/*"
                            @change="uploadPostImages($event.target.name, $event.target.files)"
                          >
                          <label :for="'file-input'+ mod">
                            <v-card>
                              <v-responsive :aspect-ratio="1">
                                <v-layout
                                  justify-center
                                  align-center
                                  fill-height
                                  class="cursor-pointer"
                                >
                                  <v-icon color="primary">{{ images.length === 0 ? 'camera_alt' : 'add' }}</v-icon>
                                </v-layout>
                              </v-responsive>
                            </v-card>
                          </label>
                        </v-card>
                      </v-flex>
                      <v-flex
                        v-if="images.length > 0"
                        xs4
                        d-flex
                      >
                        <v-card
                          flat
                          tile
                          class="d-flex"
                        >
                          <v-card>
                            <v-responsive :aspect-ratio="1">
                              <v-layout
                                justify-center
                                align-center
                                fill-height
                                class="cursor-pointer"
                                @click="images = []"
                              >
                                <v-icon color="primary">
                                  close
                                </v-icon>
                              </v-layout>
                            </v-responsive>
                          </v-card>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
import imageCompression from 'browser-image-compression'
import { EventBus } from '@/utils/EventBus'
export default {
  name: 'WriteDialog',
  props: {
    boardName: String,
    boardId: String,
    mod: {
      type: Number,
      default: 0
    },
    updateForm: {
      type: Object,
      default: () => {
        return {
          subject: '',
          contents: '',
          images: [],
          boardId: 0,
          postId: 0,
          isNotice: false
        }
      }
    }
  },
  data () {
    return {
      writeView: false,
      boardDatas: [],
      images: [],
      writeForm: {
        subject: '',
        contents: '',
        images: [],
        boardId: 0,
        postId: 0,
        isNotice: false
      },
      isUploadingImages: false,
      isWrited: false
    }
  },
  computed: {
    isAdmin () {
      return true
    }
  },
  watch: {
    writeView () {
      if (this.mod === 1) {
        this.writeForm.subject = this.updateForm.subject
        this.writeForm.contents = this.updateForm.contents
        this.writeForm.isNotice = this.updateForm.isNotice
        this.writeForm.boardId = this.updateForm.boardId
        this.writeForm.postId = this.updateForm.postId
        this.images = this.updateForm.images
        this.writeForm.images = this.updateForm.images
      }
    }
  },
  methods: {
    closeWriteDialog: function () {
      EventBus.$emit('get-new-data')
      if (this.mod === 1) EventBus.$emit('get-update-post')
      if (this.mod === 0) {
        this.writeForm.subject = ''
        this.writeForm.contents = ''
        this.writeForm.isNotice = false
        this.writeForm.boardId = 0
        this.writeForm.images = []
        this.images = []
      }
      this.isWrited = false
      this.writeView = false
    },
    async saveAndCloseDialog () {
      if (this.writeForm.subject.length === 0 || this.writeForm.contents.length === 0) {
        alert('제목과 내용은 필수입니다')
        return
      }

      if (!this.isUploadingImages) {
        try {
          if (!this.isWrited) {
            this.isWrited = true
            this.writeForm.boardId = this.boardId
            this.writeForm.images = this.images
            if (this.mod === 0) await this.$http.post('/api/board/post', this.writeForm)
            else await this.$http.put('/api/board/post', this.writeForm)
            this.closeWriteDialog()
          }
        } catch (e) {
          alert('게시글 작성에 실패했습니다')
        }
      } else {
        alert('이미지 업로드 중입니다')
      }
    },
    uploadPostImages: async function (name, files) {
      this.isUploadingImages = true

      let resizedFiles = []

      for (let resizeFile of files) {
        const imageFile = resizeFile
        // console.log('originalFile instanceof Blob', imageFile instanceof Blob) // true
        // console.log(`originalFile size ${imageFile.size / 1024 / 1024} MB`)

        const options = {
          maxSizeMB: 1,
          maxWidthOrHeight: 1920,
          useWebWorker: true
        }

        let compressedFile
        try {
          if (imageFile.size / 1024 / 1024 > 1) {
            compressedFile = await imageCompression(imageFile, options)
          } else {
            compressedFile = imageFile
            // console.log('통과당 이건!')
          }
          // console.log('compressedFile instanceof Blob', compressedFile instanceof Blob) // true
          // console.log(`compressedFile size ${compressedFile.size / 1024 / 1024} MB`) // smaller than maxSizeMB

          resizedFiles.push(compressedFile)
        } catch (error) {
          console.log(error)
        }
      }

      const formData = new FormData()
      for (let file of resizedFiles) {
        formData.append(name, file, file.name)
      }
      this.$http.post('/api/upload/images', formData)
        .then((response) => {
          let currentUrl = window.location.host
          for (let image of response.data.result) {
            this.images.push('//' + currentUrl + '/' + image.path)
          }
          this.isUploadingImages = false
        })
        .catch(() => {
          alert('업로드 중 에러가 발생했습니다')
          this.isUploadingImages = false
        })
    },
    showWriteDialog () {
      if (this.$store.getters.getIsLogin) this.writeView = true
      else this.$router.push('/login')
    }
  }
}
</script>

<style scoped>
  .float-plus{
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
  }

  .position-bottom-fixed{
    position: fixed;
    bottom: 0;
  }
</style>
