<template>
  <v-container pa-0>
    <v-layout
      row
      align-center
      justify-center
    >
      <v-flex
        xs12
        md6
      >
        <v-card>
          <v-layout
            align-center
            justify-center
            column
          >
            <v-card-title>
              <span class="title mt-2">회원가입</span>
            </v-card-title>
          </v-layout>
          <v-card-text class="px-4 pb-0">
            <v-text-field
              v-model="regEmail"
              label="이메일(없는 계정 사용시 비번 찾기 불가)"
              :rules="[rules.email]"
              required
            />
            <v-text-field
              v-model="regNickname"
              label="닉네임"
              :rules="[rules.required]"
              required
            />
            <v-text-field
              v-model="regPassword"
              label="비밀번호"
              type="password"
              :rules="[rules.required]"
              required
            />
            <v-text-field
              v-model="regPasswordConfirm"
              label="비밀번호 확인"
              type="password"
              :rules="[rules.required]"
              required
            />
          </v-card-text>
          <v-layout
            column
            class="px-3"
          >
            <v-btn
              class="my-0"
              dark
              color="primary"
              @click="RegistUser"
            >
              회원가입
            </v-btn>
            <div
              class="subheading my-3"
              style="text-align: center"
            >
              가입자 본인은 <router-link to="/terms">서비스 이용약관  개인정보처리방침(개인정보 수집 및 이용 동의)</router-link>을 확인하였고
              이에 동의합니다. 동의 거부시 회원가입이 제한됩니다.
            </div>
            <v-btn
              class="mt-0 mb-3"
              color="black"
              flat
              @click="goBack"
            >
              취소
            </v-btn>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Regist',
  data: () => ({
    regEmail: '',
    regPassword: '',
    regPasswordConfirm: '',
    regNickname: '',
    rules: {
      required: value => !!value || '필수 입력 값입니다',
      counter: value => value.length <= 20 || 'Max 20 characters',
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || '유효하지 않은 이메일입니다'
      }
    }
  }),
  methods: {
    RegistUser: function () {
      if (!this.rules.email(this.regEmail) || this.rules.email(this.regEmail) === '유효하지 않은 이메일입니다') {
        alert('올바른 이메일을 입력해주세요')
        return
      }
      if (this.regPassword !== this.regPasswordConfirm) {
        alert('비밀번호를 일치 시켜주세요')
        return
      }
      if (this.regNickname === '') {
        alert('닉네임을 입력하세요')
        return
      }
      if (this.regPassword === '') {
        alert('비밀번호를 입력하세요')
        return
      }
      this.$http.post(`/api/sign/up`, {
        email_address: this.regEmail,
        password: this.regPassword,
        user_nickname: this.regNickname
      })
        .then((result) => {
          this.regEmail = ''
          this.regPassword = ''
          this.regPasswordConfirm = ''
          this.regNickname = ''
          this.setLogin(result)
        })
        .catch((e) => {
          alert(e.response.data.message)
        })
    },
    setLogin: function (result) {
      localStorage.setItem('QLee_token', result.data.token)
      const userData = {
        userEmail: result.data.email_address,
        userNickname: result.data.user_nickname,
        userSrl: result.data.user_srl,
        mod: result.data.mod
      }
      this.$http.defaults.headers.common['x-access-qlee-token'] = localStorage.getItem('QLee_token')
      this.$store.commit('Login', userData)
      this.goBack()
    },
    goBack () {
      this.$router.go(-2)
    }
  }
}
</script>

<style scoped>
</style>
