<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <div @click="sheet = !sheet">
      <v-text-field
        full-width
        box
        placeholder="댓글을 입력하세요"
        append-icon="send"
        disabled
      />
    </div>
    <v-dialog
      v-model="sheet"
      persistent
    >
      <v-card>
        <v-toolbar
          height="40"
        >
          <v-btn
            icon
            @click="closeWriteDialog"
          >
            <v-icon color="primary">
              close
            </v-icon>
          </v-btn>
          <v-layout
            justify-center
            class="title font-weight-bold"
          >
            <div>댓글 쓰기</div>
          </v-layout>
          <v-toolbar-items>
            <v-btn
              round
              flat
              fab
              color="primary"
              small
              class="white--text"
              @click="saveAndCloseDialog"
            >
              완료
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-flex
          xs12
          px-4
          pt-2
        />
        <v-flex
          xs12
          px-4
        >
          <v-progress-circular
            v-if="isUploadingImages"
            class="position-center"
            indeterminate
            color="primary"
            size="64"
          />
          <v-textarea
            v-model="writeForm.contents"
            name="contents"
            placeholder="내용을 입력하세요"
            rows="12"
            value=""
          />
        </v-flex>
        <v-flex
          xs12
          px-4
        >
          <v-layout
            row
            wrap
          >
            <v-flex xs12>
              <v-card>
                <v-container
                  grid-list-sm
                  fluid
                  class="pa-0 mb-3"
                >
                  <v-layout
                    row
                    wrap
                  >
                    <v-flex
                      v-for="(image,i) in images"
                      :key="i"
                      xs4
                      d-flex
                    >
                      <v-card
                        flat
                        tile
                        class="d-flex"
                      >
                        <v-img
                          :src="image"
                          :lazy-src="image"
                          aspect-ratio="1"
                          class="grey lighten-2"
                        >
                          <template v-slot:placeholder>
                            <v-layout
                              fill-height
                              align-center
                              justify-center
                              ma-0
                            >
                              <v-progress-circular
                                indeterminate
                                color="grey lighten-5"
                              />
                            </v-layout>
                          </template>
                        </v-img>
                      </v-card>
                    </v-flex>
                    <v-flex
                      xs4
                      d-flex
                    >
                      <v-card
                        flat
                        tile
                        class="d-flex"
                      >
                        <input
                          v-show="false"
                          id="comment-file-input"
                          type="file"
                          name="img"
                          multiple="multiple"
                          accept="image/*"
                          @change="uploadCommentsImages($event.target.name, $event.target.files)"
                        >
                        <label for="comment-file-input">
                          <v-card>
                            <v-responsive :aspect-ratio="1">
                              <v-layout
                                justify-center
                                align-center
                                fill-height
                                class="cursor-pointer"
                              >
                                <v-icon color="primary">{{ images.length === 0 ? 'camera_alt' : 'add' }}</v-icon>
                              </v-layout>
                            </v-responsive>
                          </v-card>
                        </label>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import imageCompression from 'browser-image-compression'
import { EventBus } from '@/utils/EventBus'
export default {
  name: 'CommentsDialog',
  props: {
    postId: String
  },
  data () {
    return {
      sheet: false,
      boardDatas: [],
      images: [],
      writeForm: {
        contents: '',
        images: []
      },
      isUploadingImages: false,
      isWrited: false
    }
  },
  methods: {
    sendAlarm (postId) {
      this.$http.post('/api/alarm/' + postId)
    },
    closeWriteDialog: function () {
      this.writeForm.contents = ''
      this.writeForm.images = []
      this.images = []
      EventBus.$emit('get-new-comments')
      this.isWrited = false
      this.sheet = false
    },
    async sendComments () {
      try {
        await this.$http.post('/api/board/comments/' + this.postId, this.writeForm)
      } catch (e) {
        alert('댓글을 다는 도중 에러가 발생했습니다')
        this.closeWriteDialog()
      }
    },
    async saveAndCloseDialog () {
      if (this.writeForm.contents.length === 0) {
        alert('내용은 필수입니다')
        return
      }

      if (!this.isUploadingImages) {
        try {
          if (!this.isWrited) {
            this.isWrited = true
            this.writeForm.images = this.images
            await this.$http.post('/api/board/comments/' + this.postId, this.writeForm)
            this.sendAlarm(this.postId)
            this.closeWriteDialog()
          }
        } catch (e) {
          alert('댓글을 다는 도중 에러가 발생했습니다')
          this.closeWriteDialog()
        }
      } else {
        alert('이미지 업로드 중입니다')
      }
    },
    uploadCommentsImages: async function (name, files) {
      this.isUploadingImages = true
      let resizedFiles = []

      for (let resizeFile of files) {
        const imageFile = resizeFile
        // console.log('originalFile instanceof Blob', imageFile instanceof Blob) // true
        // console.log(`originalFile size ${imageFile.size / 1024 / 1024} MB`)

        const options = {
          maxSizeMB: 1,
          maxWidthOrHeight: 1920,
          useWebWorker: true
        }

        let compressedFile
        try {
          if (imageFile.size / 1024 / 1024 > 1) {
            compressedFile = await imageCompression(imageFile, options)
          } else {
            compressedFile = imageFile
            // console.log('통과당 이건!')
          }
          // console.log('compressedFile instanceof Blob', compressedFile instanceof Blob) // true
          // console.log(`compressedFile size ${compressedFile.size / 1024 / 1024} MB`) // smaller than maxSizeMB

          resizedFiles.push(compressedFile)
        } catch (error) {
          console.log(error)
        }
      }

      const formData = new FormData()
      for (let file of resizedFiles) {
        formData.append(name, file, file.name)
      }
      this.$http.post('/api/upload/images', formData)
        .then((response) => {
          let currentUrl = window.location.host
          for (let image of response.data.result) {
            this.images.push('http://' + currentUrl + '/' + image.path)
          }
          this.isUploadingImages = false
        })
        .catch(() => {
          alert('업로드 중 에러가 발생했습니다')
          this.isUploadingImages = false
        })
    },
    showWriteDialog () {
      if (this.$store.getters.getIsLogin) this.writeView = !this.writeView
      else this.$router.push('/login')
    }
  }
}
</script>
